:root{
	font-size: 16px;
};


 .left{
	padding-left: 60vw;
}



#Brand{
	font-size: 1.8rem;
}

.menu-item{
	font-size: 1.2rem;
}

.list-group{
    
    max-height: 66vh;
    padding-bottom: 1vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.chat-view{
    
    max-height: 63vh;
    padding-bottom: 1vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.time-right {
    float: right;
     
}

@media only screen and (max-width:1025px){
	.list-group{
		max-height: 80vh;
	}
}



